
				<div class="login login_bg">
					<div class="login_logo ">
						<h3 class="text-center m-auto d-block">HYPER<span>APP</span></h3>
					</div>
					<div class="input_hight">
						<form>
							<div class="input-container">
								<i class="fa fa-user icon"></i>
								<input type="text" name="name" placeholder="Username" required>
							</div>
							<div class="input-container">
								<i class="fa fa-lock icon"></i>
								<input type="password" name="password" placeholder="Password" required>
							</div>
						</form>
						<!--<button class="text-center btn login_btnbg login_btn mt-3">SIGN IN</button>-->
						<a href="https://hyperapp.dezigndia.com/dashboard.html"class="text-center btn login_btnbg login_btn mt-3">SIGN IN</a>
						<div class="newmember mt-5">
							<p>New Member ? <a [routerLink]="['/signup']"> SIGN UP</a></p>
						</div>
						
					</div>
					
				</div>
			