#bg_grad 
  {
    background-image: url('../../assets/images/login/bg.png'), linear-gradient(135deg, #12dab6 , #7d48de);
    background-repeat: no-repeat;
    height: 100vh;
    /*background: transparent url('../images/login/bg.png') 0% 0% no-repeat padding-box;*/
    /*opacity: 0.1;*/
  }