<!-- <ul class="menu"> -->
    <!-- .menu-item -->
    <li class="menu-item has-active menu_border text-center" *ngFor="let list of list">
        <a href="index.html" class="menu-link">
          <span class="menu-text text-primary ">{{list.title}}</span>
          <span class="dot">...</span>
        </a>
    </li>
    <!-- <button class="btn btn-primary addnew_btn addnewbtn text-center">Add New Site</button>
    <li class="menu-item mt-3 text-center">
        <a href="#" class="menu-link">
          <span class="menu-text logout" (click)="onLogout()">Logout</span>
        </a>
    </li>
</ul> -->