
				<div class="rigester rigester_bg">
					<div class="rigester_logo ">
						<h3 class="text-center m-auto d-block">HYPER<span>APP</span></h3>
					</div>
					<div class="input_hight">
						<form>
							<div class="input-container">
								<i class="fa fa-user icon"></i>
								<input type="text" name="name" placeholder="Set Your Username">
							</div>
							<div class="input-container">
								<i class="fa fa-lock icon"></i>
								<input type="password" name="password" placeholder="Set Your Password">
							</div>
							<div class="input-container">
								<i class="fa fa-envelope-open-o icon"></i>
								<input type="password" name="password" placeholder="Your Email">
							</div>
							<div class="input-container">
								<i class="fa fa-pencil icon"></i>
								<input type="password" name="password" placeholder="Full Name">
							</div>
						</form>
						<button class="text-center btn rigester_btnbg rigester_btn mt-3">SIGN UP</button>
						<div class="newmember mt-5">
							<p>Already Member ? <a [routerLink]="['/login']"> LOG IN</a></p>
						</div>
						
					</div>
					
				</div>